cluster_name: "${cluster_name}"
commitlog_directory: /var/lib/cassandra/commitlog
commitlog_sync: periodic
commitlog_sync_period_in_ms: 10000
data_file_directories:
- /var/lib/cassandra
endpoint_snitch: GossipingPropertyFileSnitch
hints_directory: /var/lib/cassandra/hints
listen_address: "${host_ip}"
num_tokens: 4
partitioner: org.apache.cassandra.dht.Murmur3Partitioner
saved_caches_directory: /var/lib/cassandra/saved_caches
seed_provider:
- class_name: org.apache.cassandra.locator.SimpleSeedProvider
  parameters:
    - seeds: "${seed_ips}"
start_native_transport: true
